<h1>*ngIf Demo</h1>

<body>
  <div *ngIf="isLogIn; else isLogout">
    Hello you are loggedIn
  </div>

  <ng-template #isLogout>
    You are logged out...
  </ng-template>

  <br>
  <div>
    <h1>Check Leap Year</h1>
    <input [(ngModel)]="year" placeholder="Enter a year">
    <button (click)="checkLeapYear()">Check</button>
    <ng-container *ngIf="year !== undefined">
      <p *ngIf="isLeapYear">{{ year }} is a leap year.</p>
      <p *ngIf="!isLeapYear">{{ year }} is not leap year.</p>
    </ng-container>
  </div>
</body>

<h1>*ngFor Demo</h1>
<ul *ngFor="let i of department_list">
  <li>{{i}}</li>
</ul>

{{department_list}}

<h1>*ngSwitch Demo</h1>
<div>
  <label for="fruit">Select a Fruit</label>
  <select id="fruit" [(ngModel)]="selectedFruit">
    <option value="apple">Apple</option>
    <option value="banana">Banana</option>
    <option value="orange">Orange</option>
    <option value="grape">Grape</option>
  </select>
  <div [ngSwitch]="selectedFruit">
    <p *ngSwitchCase="'apple'">You Selected Apple.</p>
    <p *ngSwitchCase="'banana'">You Selected Banana.</p>
    <p *ngSwitchCase="'orange'">You Selected Orange.</p>
    <p *ngSwitchCase="'grape'">You Selected Grape.</p>
    <p *ngSwitchDefault>Selected a Fruit.</p>
  </div>
</div>

