body {
  color: red;
  font-size: 22;
  background-color: aquamarine;
  text-align: center;
}

h1 {
  text-align: center;
  color: aliceblue;
}

.red {
  color: red;
}

.green {
  color: green;
}

table {
  background-color: aquamarine;
  color: red;
}
