<!-- <h1> Hello World </h1>

<hr>
<h1>
  {{title}}
</h1>

<div>
  <h1>DigitCount user defined pipe</h1>
  <h2>Digits: {{digits}}</h2>
  <h2>Digits: {{digits | digitcount}}</h2>
</div>

<app-mobiles></app-mobiles>
<app-employee></app-employee>
<app-directive-demo></app-directive-demo>
<app-pipe-demo></app-pipe-demo> -->
<a routerLink="/pipe">Pipe Page</a> <br>
<a routerLink="/employee">Employee Page</a> <br>
<a routerLink="/directive">Directive Page</a> <br>
<a routerLink="/home">Home Page</a> <br>

<router-outlet></router-outlet>
