/* You can add global styles to this file, and also import other style files */
body {
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRVXEYmZw4cV7EOk8PhC5w-h9tVNjnXXhdJRA5mVszAKA&s);
  background-repeat: no-repeat;
  background-size: cover;
}